:root {
  --dark: rgba(6, 40, 61, 99%);
  --mid: rgba(19, 99, 223, 99%);
  --light: rgba(71, 181, 255, 99%);
  --lighter: rgba(223, 246, 255, 99%);
}



body {
  background-color: var(--dark);
  height: 100vh;
  margin: 0;
  font-family: 'Nunito';
  color: rgba(75, 75, 75, 99%);
}

#container {
  background-color: var(--lighter);
  margin: 2rem;
  border-radius: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
