:root {
  --dark: rgba(6, 40, 61, 99%);
  --mid: #9CC0E7;
  --light: rgba(71, 181, 255, 99%);
  --lighter: rgba(223, 246, 255, 99%);
  --shade: rgba(51, 51, 51, 0.51);
  --whiteish: #f7f7f2;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  height: 100vh;
  margin: 0;
  font-family: 'Nunito';
  color: var(--dark);
}

#container {
  background-color: var(--whiteish);
  margin: 1rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#greeting {
  color: var(--dark);
  padding: 1rem;
}

#projects {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 2rem;
}

.proj {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.1), 0 6px 6px var(--shade);
}

.proj > h3 {
  text-align: center;
}

.proj > p {
  max-width: fit-content;
  text-align: center;
}

.addbutton {
  padding-left: 50px;
}

#tasks {
 padding-block: 1rem;
 min-width: 50vw;
 box-shadow: 0 10px 20px rgba(51, 51, 51, 0.1), 0 6px 6px var(--shade);
 border-radius: 4px;
 margin-bottom: 2rem;
}
 
#task-form {
  border-radius: 6px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 75% 25%;
  grid-template-areas: 
  'formHeader formHeader'
  'taskSelectors taskSelectors'
  'key-input addTask'
  'val-input addTask';
  justify-content: center;
  margin: 0 1rem 1rem 1rem;
  gap: 3px;
}

#task-form > legend {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  grid-area: formHeader;
}

#task-form > span {
  margin: 0 3rem 0 3rem;
  display: flex;
  justify-content: space-evenly;
  grid-area: taskSelectors;
}

#task-form > input[type=text] {
  margin-left: 1.5rem;
  border: none;
  border-radius: 8px;
 
}

#task-key-input {
  grid-area: key-input;
 
}

#task-val-input {
  grid-area: val-input;
}

#new-task-btn {
  grid-area: addTask;
}

.task-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*item structure*/
li.item {
  
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrapper {
  background-color: var(--lighter);
  min-width: 200px;
  border-radius: 24px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 50px;
  grid-template-areas: 'task-title task-delete'
                        'task-info task-info';
}

.task-list .wrapper:not(:last-of-type) {
  margin-bottom: 1rem;
}

.wrapper > h4 {
  align-content: center;
  margin-left: 1rem;
  grid-area: task-title;
}

.wrapper > h6 {
  grid-area: task-info;
  background-color: var(--mid);
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.del {
  grid-area: task-delete;
  display: flex;
  justify-content: center;
  align-self: center;
 
}





