:root {
  --dark: rgba(6, 40, 61, 99%);
  --mid: rgba(19, 99, 223, 99%);
  --light: rgba(71, 181, 255, 99%);
  --lighter: rgba(223, 246, 255, 99%);
}

body {
  background-color: #f7f7f2;
}

#container {

}